In [9]:
import cx_Oracle as cx1

In [13]:
# Select command
try:
    cn=cx1.connect('scott/tiger@localhost:1521/orcl')
    c=cn.cursor()
    c.execute('Select * from emp where sal between 800 and 5000')
    for record in c:
        print(record)
except:
    print('Print connection and operations error')
finally:
    print('Finally called')
    c=None
    cn.close()
    cn=None

(1200, 'Mayank', None, None, None, 5000.0, 0.0, 40)
(1000, 'RAZA', 'ANALYST', 1100, None, 3000.0, None, 20)
(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7499, 'ALLEN', 'SALESMAN', 7698, datetime.datetime(1981, 2, 20, 0, 0), 1600.0, 300.0, 30)
(7521, 'WARD', 'SALESMAN', 7698, datetime.datetime(1981, 2, 22, 0, 0), 1250.0, 500.0, 30)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7654, 'MARTIN', 'SALESMAN', 7698, datetime.datetime(1981, 9, 28, 0, 0), 1250.0, 1400.0, 30)
(7698, 'BLAKE', 'MANAGER', 7839, datetime.datetime(1981, 5, 1, 0, 0), 2850.0, None, 30)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1987, 4, 19, 0, 0), 3000.0, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7844, 'TURNER', 'SALESMAN', 7698, datetime.datetime(1981, 9, 8, 0, 0), 1500.0, 0.0, 30)
(7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1987, 5, 23, 0, 0), 1100.0, None, 20)
(7900, 'JAMES', 'CLERK', 7698, datetime.datetime(1981, 12, 3, 0, 0), 950.0, None, 30)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)
Finally called

In [12]:
 cn=cx1.connect('scott/tiger@localhost:1521/orcl')

In [14]:
# Select in operator
try:
    cn=cx1.connect('scott/tiger@localhost:1521/orcl')
    c=cn.cursor()
    c.execute('Select * from emp where deptno in (10,20)')
    for record in c:
        print(record)
except:
    print('Print connection and operations error')
finally:
    print('Finally called')
    c=None
    cn.close()
    cn=None

(1100, 'NEIL', 'ANALYST', 7839, datetime.datetime(2019, 11, 17, 0, 0), 6000.0, None, 20)
(1104, 'R', 'DEVELOPER', 7844, None, 5500.0, None, 10)
(1000, 'RAZA', 'ANALYST', 1100, None, 3000.0, None, 20)
(1901, 'Sikandar', None, None, None, None, None, 20)
(7369, 'SMITH', 'CLERK', 7902, datetime.datetime(1980, 12, 17, 0, 0), 800.0, None, 20)
(7566, 'JONES', 'MANAGER', 7839, datetime.datetime(1981, 4, 2, 0, 0), 2975.0, None, 20)
(7782, 'CLARK', 'MANAGER', 7839, datetime.datetime(1981, 6, 9, 0, 0), 2450.0, None, 10)
(7788, 'SCOTT', 'ANALYST', 7566, datetime.datetime(1987, 4, 19, 0, 0), 3000.0, None, 20)
(7839, 'KING', 'PRESIDENT', None, datetime.datetime(1981, 11, 17, 0, 0), 5000.0, None, 10)
(7876, 'ADAMS', 'CLERK', 7788, datetime.datetime(1987, 5, 23, 0, 0), 1100.0, None, 20)
(7902, 'FORD', 'ANALYST', 7566, datetime.datetime(1981, 12, 3, 0, 0), 3000.0, None, 20)
(7934, 'MILLER', 'CLERK', 7782, datetime.datetime(1982, 1, 23, 0, 0), 1300.0, None, 10)
Finally called

In [20]:
# table creations
try:
    cn=cx1.connect('scott/tiger@localhost:1521/orcl')
    c=cn.cursor()
    table_create='''
                create table Super52 (ID number(2) primary key, 
                name varchar(100),
                course varchar(50)
                )
                '''
    c.execute(table_create)
    cn.commit()
    
except:
    print('Print connection and operations error')
finally:
    print('Finally called')
    c=None
    cn.close()
    cn=None

Finally called

In [19]:
cn=cx1.connect('scott/tiger@localhost:1521/orcl')
c=cn.cursor()
table_create='''
                create table Super51 (ID number(2) primary key, 
                name varchar(100),
                course varchar(50)
                )
                '''
c.execute(table_create)
cn.commit()

In [22]:
# Add multiple rows using insert and select command
try:
    cn=cx1.connect('scott/tiger@localhost:1521/orcl')
    c=cn.cursor()
    ins_data='''
    insert into super5 
    select 2,'Avinash Kumar','Data Science' from dual
    union all
    select 3,'Amar Bharti','DS' from dual
    union all
    select 4, 'Dhurv kumar tiwari','Data Science' from dual
    '''
    c.execute(ins_data)
    cn.commit()
except:
    print('Print connection and operations error')
finally:
    print('Finally called')
    c=None
    cn.close()
    cn=None

Finally called

In [28]:
# insert record using para meter
try:
    
    Id=int(input('Enter number'))
    nm=input('Enter name')
    crs=input('Enter course')
    janak=[Id,nm,crs]
    cn=cx1.connect('scott/tiger@localhost:1521/orcl')
    c=cn.cursor()
    ins_data='''
    insert into Super5 values(:id,:nm,:crs)
    '''
    c.execute(ins_data,janak)
    cn.commit()
except:
    print('Print connection and operations error')
finally:
    print('Finally called')
    c=None
    cn.close()
    cn=None

Enter number7
Enter nameRahul Singh
Enter courseTesting
Finally called

In [35]:
# update using parameter
try:
    
    Id=int(input('Enter number'))
    nm=input('Enter name')
    janak=[nm,Id]
    cn=cx1.connect('scott/tiger@localhost:1521/orcl')
    c=cn.cursor()
    upd_data='''
    update Super5 
    set name=:nm
    where ID=:Id
    '''
    c.execute(upd_data,janak)
    cn.commit()
except:
    print('Print connection and operations error')
finally:
    print('Finally called')
    c=None
    cn.close()
    cn=None

Enter number1
Enter nameJanak Joshi
Finally called

In [42]:
# delete using parameter
try:
    
    Id=int(input('Enter number'))
    janak=[Id]
    cn=cx1.connect('scott/tiger@localhost:1521/orcl')
    c=cn.cursor()
    del_data='''
    Delete from Super5
    where ID=:Id
    '''
    c.execute(del_data,janak)
    cn.commit()
except:
    print('Print connection and operations error')
finally:
    print('Finally called')
    c=None
    cn.close()
    cn=None

Enter number5
Finally called