In [3]:
import pandas as pd

# Data Type
1. Series
2. Data Frame
3. Panel

# Series - is one 1-D data representations
Series can be created by pre-emptive data
To create the Series Data we use Series () function of pandas.

In [5]:
ser=pd.Series((10,20,30,40,50))

In [6]:
ser1=pd.Series(10)

In [7]:
print(ser1)

0    10
dtype: int64

In [8]:
print(ser)

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [9]:
# create the series data type using List
L=['A','B','C',10,20,30]

In [10]:
print(L)

['A', 'B', 'C', 10, 20, 30]

In [11]:
ser2=pd.Series(L)

In [12]:
print(ser2)

0     A
1     B
2     C
3    10
4    20
5    30
dtype: object

In [13]:
print(type(ser2))

<class 'pandas.core.series.Series'>

In [14]:
dc={'A':10,'B':20,'C':30,'D':40}
ser3=pd.Series(dc)

In [15]:
print(ser3)

A    10
B    20
C    30
D    40
dtype: int64

In [16]:
ser4=pd.Series([50,60,70,80])

In [17]:
ser4

0    50
1    60
2    70
3    80
dtype: int64

In [18]:
ser4.index=['USA','IND','UK','RUSS']

In [19]:
ser4

USA     50
IND     60
UK      70
RUSS    80
dtype: int64

In [20]:
print(dc)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [21]:
ser3.index=['USA','IND','UK','RUSS']

In [22]:
print(dc)

{'A': 10, 'B': 20, 'C': 30, 'D': 40}

In [23]:
ser3

USA     10
IND     20
UK      30
RUSS    40
dtype: int64

In [24]:
ser5=pd.Series([500,400,300,600],index=['Facebook','Google','Twitter','Instagram'],dtype='int32')

In [25]:
print(ser5)

Facebook     500
Google       400
Twitter      300
Instagram    600
dtype: int32

In [28]:
ser6=pd.Series([500,400,300,600,700],index=['Facebook','Google','Twitter','Instagram'],dtype='int32')

ValueError: Length of passed values is 5, index implies 4

In [27]:
print(ser6)

Facebook     500
Google       400
Twitter      300
Instagram    600
dtype: int32

In [29]:
# Statistical Functions
# max
# min
# std
# coov
# corr
# cumsum
# sum
# mean

In [30]:
ser5

Facebook     500
Google       400
Twitter      300
Instagram    600
dtype: int32

In [34]:
ser5.max()

600

In [35]:
ser5.min()

300

In [37]:
ser5.std()

129.09944487358058

In [44]:
ser5.cov(ser4)

nan

In [46]:
ser6=ser3

In [48]:
ser6.index=['Facebook','Google','Twitter','Instagram']

In [49]:
print(ser5.cov(ser6))

333.3333333333333

In [50]:
ser5.sum()

1800

In [51]:
ser5.cumsum()

Facebook      500
Google        900
Twitter      1200
Instagram    1800
dtype: int32

In [52]:
ser5.mean()

450.0

In [53]:
#Slicing

In [54]:
ser1

0    10
dtype: int64

In [55]:
ser2

0     A
1     B
2     C
3    10
4    20
5    30
dtype: object

In [56]:
ser2[0]

'A'

In [57]:
ser[0:4]

0    10
1    20
2    30
3    40
dtype: int64

In [58]:
ser[0::2]

0    10
2    30
4    50
dtype: int64

In [59]:
ser[0::2]=50

In [60]:
ser

0    50
1    20
2    50
3    40
4    50
dtype: int64

In [61]:
ser5

Facebook     500
Google       400
Twitter      300
Instagram    600
dtype: int32

In [64]:
bool_val=ser5>500

In [65]:
ser5[bool_val]

Instagram    600
dtype: int32

In [66]:
ser5[ser5>500]

Instagram    600
dtype: int32