In [3]:
#Data Analysis
import pandas as pd
import seaborn as sns

In [4]:
tips=sns.load_dataset('tips')

In [5]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [7]:
# View - head() and tail()
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [8]:
tips.tail()

     total_bill   tip     sex smoker   day    time  size
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [9]:
tips.head(10)

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4
5       25.29  4.71    Male     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
7       26.88  3.12    Male     No  Sun  Dinner     4
8       15.04  1.96    Male     No  Sun  Dinner     2
9       14.78  3.23    Male     No  Sun  Dinner     2

In [11]:
tips.tail(20)

     total_bill   tip     sex smoker   day    time  size
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

In [12]:
tips.tail(-1)

     total_bill   tip     sex smoker   day    time  size
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
30         9.55  1.45    Male     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[243 rows x 7 columns]

In [15]:
tips.tail(-2)

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
30         9.55  1.45    Male     No   Sat  Dinner     2
31        18.35  2.50    Male     No   Sat  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[242 rows x 7 columns]

In [16]:
# shape
tips.shape

(244, 7)

In [17]:
arr_tip=tips['tip'].values

In [19]:
arr_tip1=tips['tip']

In [21]:
type(arr_tip)

numpy.ndarray

In [22]:
arr_tip.shape

(244,)

In [23]:
arr_tip.ndim

1

In [24]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [25]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [26]:
tips.index

RangeIndex(start=0, stop=244, step=1)

In [29]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [30]:
tips.isna

<bound method DataFrame.isna of      total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]>

In [33]:
tips['sex'].unique()

[Female, Male]
Categories (2, object): [Female, Male]

In [34]:
tips['sex'].nunique()

2

In [35]:
# Rows and columns
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [36]:
tips.total_bill

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
       ...
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [37]:
tips['total_bill']

0      16.99
1      10.34
2      21.01
3      23.68
4      24.59
5      25.29
6       8.77
7      26.88
8      15.04
9      14.78
10     10.27
11     35.26
12     15.42
13     18.43
14     14.83
15     21.58
16     10.33
17     16.29
18     16.97
19     20.65
20     17.92
21     20.29
22     15.77
23     39.42
24     19.82
25     17.81
26     13.37
27     12.69
28     21.70
29     19.65
       ...
214    28.17
215    12.90
216    28.15
217    11.59
218     7.74
219    30.14
220    12.16
221    13.42
222     8.58
223    15.98
224    13.42
225    16.27
226    10.09
227    20.45
228    13.28
229    22.12
230    24.01
231    15.69
232    11.61
233    10.77
234    15.53
235    10.07
236    12.60
237    32.83
238    35.83
239    29.03
240    27.18
241    22.67
242    17.82
243    18.78
Name: total_bill, Length: 244, dtype: float64

In [40]:
tips[['total_bill','tip']].head()

   total_bill   tip
0       16.99  1.01
1       10.34  1.66
2       21.01  3.50
3       23.68  3.31
4       24.59  3.61

In [42]:
# Row wise data filterations 
# iloc
tips.iloc[0:5]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [43]:
tips.iloc[0:10:2]

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
2       21.01  3.50    Male     No  Sun  Dinner     3
4       24.59  3.61  Female     No  Sun  Dinner     4
6        8.77  2.00    Male     No  Sun  Dinner     2
8       15.04  1.96    Male     No  Sun  Dinner     2

In [44]:
tips.iloc[0:10:2,0:2]

   total_bill   tip
0       16.99  1.01
2       21.01  3.50
4       24.59  3.61
6        8.77  2.00
8       15.04  1.96

In [46]:
arr2=tips.iloc[0:10:2,0:2].values

In [47]:
type(arr2)

numpy.ndarray

In [48]:
arr2.shape

(5, 2)

In [49]:
d={}

In [50]:
type(d)

dict

In [52]:
d={10}

In [53]:
type(d)

set

In [54]:
a=(10)

In [55]:
type(a)

int

In [57]:
tips.describe(include='all')

        total_bill         tip   sex smoker  day    time        size
count   244.000000  244.000000   244    244  244     244  244.000000
unique         NaN         NaN     2      2    4       2         NaN
top            NaN         NaN  Male     No  Sat  Dinner         NaN
freq           NaN         NaN   157    151   87     176         NaN
mean     19.785943    2.998279   NaN    NaN  NaN     NaN    2.569672
std       8.902412    1.383638   NaN    NaN  NaN     NaN    0.951100
min       3.070000    1.000000   NaN    NaN  NaN     NaN    1.000000
25%      13.347500    2.000000   NaN    NaN  NaN     NaN    2.000000
50%      17.795000    2.900000   NaN    NaN  NaN     NaN    2.000000
75%      24.127500    3.562500   NaN    NaN  NaN     NaN    3.000000
max      50.810000   10.000000   NaN    NaN  NaN     NaN    6.000000

In [58]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

In [61]:
tips.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
total_bill    244 non-null float64
tip           244 non-null float64
sex           244 non-null category
smoker        244 non-null category
day           244 non-null category
time          244 non-null category
size          244 non-null int64
dtypes: category(4), float64(2), int64(1)
memory usage: 7.2 KB

In [64]:
tips['tip'].isna().sum

<bound method Series.sum of 0      False
1      False
2      False
3      False
4      False
5      False
6      False
7      False
8      False
9      False
10     False
11     False
12     False
13     False
14     False
15     False
16     False
17     False
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
214    False
215    False
216    False
217    False
218    False
219    False
220    False
221    False
222    False
223    False
224    False
225    False
226    False
227    False
228    False
229    False
230    False
231    False
232    False
233    False
234    False
235    False
236    False
237    False
238    False
239    False
240    False
241    False
242    False
243    False
Name: tip, Length: 244, dtype: bool>

In [74]:
tips.isnull()

     total_bill    tip    sex  smoker    day   time   size
0         False  False  False   False  False  False  False
1         False  False  False   False  False  False  False
2         False  False  False   False  False  False  False
3         False  False  False   False  False  False  False
4         False  False  False   False  False  False  False
5         False  False  False   False  False  False  False
6         False  False  False   False  False  False  False
7         False  False  False   False  False  False  False
8         False  False  False   False  False  False  False
9         False  False  False   False  False  False  False
10        False  False  False   False  False  False  False
11        False  False  False   False  False  False  False
12        False  False  False   False  False  False  False
13        False  False  False   False  False  False  False
14        False  False  False   False  False  False  False
15        False  False  False   False  False  False  False
16        False  False  False   False  False  False  False
17        False  False  False   False  False  False  False
18        False  False  False   False  False  False  False
19        False  False  False   False  False  False  False
20        False  False  False   False  False  False  False
21        False  False  False   False  False  False  False
22        False  False  False   False  False  False  False
23        False  False  False   False  False  False  False
24        False  False  False   False  False  False  False
25        False  False  False   False  False  False  False
26        False  False  False   False  False  False  False
27        False  False  False   False  False  False  False
28        False  False  False   False  False  False  False
29        False  False  False   False  False  False  False
..          ...    ...    ...     ...    ...    ...    ...
214       False  False  False   False  False  False  False
215       False  False  False   False  False  False  False
216       False  False  False   False  False  False  False
217       False  False  False   False  False  False  False
218       False  False  False   False  False  False  False
219       False  False  False   False  False  False  False
220       False  False  False   False  False  False  False
221       False  False  False   False  False  False  False
222       False  False  False   False  False  False  False
223       False  False  False   False  False  False  False
224       False  False  False   False  False  False  False
225       False  False  False   False  False  False  False
226       False  False  False   False  False  False  False
227       False  False  False   False  False  False  False
228       False  False  False   False  False  False  False
229       False  False  False   False  False  False  False
230       False  False  False   False  False  False  False
231       False  False  False   False  False  False  False
232       False  False  False   False  False  False  False
233       False  False  False   False  False  False  False
234       False  False  False   False  False  False  False
235       False  False  False   False  False  False  False
236       False  False  False   False  False  False  False
237       False  False  False   False  False  False  False
238       False  False  False   False  False  False  False
239       False  False  False   False  False  False  False
240       False  False  False   False  False  False  False
241       False  False  False   False  False  False  False
242       False  False  False   False  False  False  False
243       False  False  False   False  False  False  False

[244 rows x 7 columns]

In [79]:
tips.isnull().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [80]:
tips.isna().sum()

total_bill    0
tip           0
sex           0
smoker        0
day           0
time          0
size          0
dtype: int64

In [82]:
tips['tip'].isnull().value_counts()

False    244
Name: tip, dtype: int64

In [84]:
tips.isnull().count()

total_bill    244
tip           244
sex           244
smoker        244
day           244
time          244
size          244
dtype: int64

In [85]:
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
6          8.77  2.00    Male     No   Sun  Dinner     2
7         26.88  3.12    Male     No   Sun  Dinner     4
8         15.04  1.96    Male     No   Sun  Dinner     2
9         14.78  3.23    Male     No   Sun  Dinner     2
10        10.27  1.71    Male     No   Sun  Dinner     2
11        35.26  5.00  Female     No   Sun  Dinner     4
12        15.42  1.57    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
16        10.33  1.67  Female     No   Sun  Dinner     3
17        16.29  3.71    Male     No   Sun  Dinner     3
18        16.97  3.50  Female     No   Sun  Dinner     3
19        20.65  3.35    Male     No   Sat  Dinner     3
20        17.92  4.08    Male     No   Sat  Dinner     2
21        20.29  2.75  Female     No   Sat  Dinner     2
22        15.77  2.23  Female     No   Sat  Dinner     2
23        39.42  7.58    Male     No   Sat  Dinner     4
24        19.82  3.18    Male     No   Sat  Dinner     2
25        17.81  2.34    Male     No   Sat  Dinner     4
26        13.37  2.00    Male     No   Sat  Dinner     2
27        12.69  2.00    Male     No   Sat  Dinner     2
28        21.70  4.30    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
214       28.17  6.50  Female    Yes   Sat  Dinner     3
215       12.90  1.10  Female    Yes   Sat  Dinner     2
216       28.15  3.00    Male    Yes   Sat  Dinner     5
217       11.59  1.50    Male    Yes   Sat  Dinner     2
218        7.74  1.44    Male    Yes   Sat  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
220       12.16  2.20    Male    Yes   Fri   Lunch     2
221       13.42  3.48  Female    Yes   Fri   Lunch     2
222        8.58  1.92    Male    Yes   Fri   Lunch     1
223       15.98  3.00  Female     No   Fri   Lunch     3
224       13.42  1.58    Male    Yes   Fri   Lunch     2
225       16.27  2.50  Female    Yes   Fri   Lunch     2
226       10.09  2.00  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
228       13.28  2.72    Male     No   Sat  Dinner     2
229       22.12  2.88  Female    Yes   Sat  Dinner     2
230       24.01  2.00    Male    Yes   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
233       10.77  1.47    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
235       10.07  1.25    Male     No   Sat  Dinner     2
236       12.60  1.00    Male    Yes   Sat  Dinner     2
237       32.83  1.17    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [87]:
tips.replace('Male','shemale',inplace=True)

In [88]:
tips

     total_bill   tip      sex smoker   day    time  size
0         16.99  1.01   Female     No   Sun  Dinner     2
1         10.34  1.66  shemale     No   Sun  Dinner     3
2         21.01  3.50  shemale     No   Sun  Dinner     3
3         23.68  3.31  shemale     No   Sun  Dinner     2
4         24.59  3.61   Female     No   Sun  Dinner     4
5         25.29  4.71  shemale     No   Sun  Dinner     4
6          8.77  2.00  shemale     No   Sun  Dinner     2
7         26.88  3.12  shemale     No   Sun  Dinner     4
8         15.04  1.96  shemale     No   Sun  Dinner     2
9         14.78  3.23  shemale     No   Sun  Dinner     2
10        10.27  1.71  shemale     No   Sun  Dinner     2
11        35.26  5.00   Female     No   Sun  Dinner     4
12        15.42  1.57  shemale     No   Sun  Dinner     2
13        18.43  3.00  shemale     No   Sun  Dinner     4
14        14.83  3.02   Female     No   Sun  Dinner     2
15        21.58  3.92  shemale     No   Sun  Dinner     2
16        10.33  1.67   Female     No   Sun  Dinner     3
17        16.29  3.71  shemale     No   Sun  Dinner     3
18        16.97  3.50   Female     No   Sun  Dinner     3
19        20.65  3.35  shemale     No   Sat  Dinner     3
20        17.92  4.08  shemale     No   Sat  Dinner     2
21        20.29  2.75   Female     No   Sat  Dinner     2
22        15.77  2.23   Female     No   Sat  Dinner     2
23        39.42  7.58  shemale     No   Sat  Dinner     4
24        19.82  3.18  shemale     No   Sat  Dinner     2
25        17.81  2.34  shemale     No   Sat  Dinner     4
26        13.37  2.00  shemale     No   Sat  Dinner     2
27        12.69  2.00  shemale     No   Sat  Dinner     2
28        21.70  4.30  shemale     No   Sat  Dinner     2
29        19.65  3.00   Female     No   Sat  Dinner     2
..          ...   ...      ...    ...   ...     ...   ...
214       28.17  6.50   Female    Yes   Sat  Dinner     3
215       12.90  1.10   Female    Yes   Sat  Dinner     2
216       28.15  3.00  shemale    Yes   Sat  Dinner     5
217       11.59  1.50  shemale    Yes   Sat  Dinner     2
218        7.74  1.44  shemale    Yes   Sat  Dinner     2
219       30.14  3.09   Female    Yes   Sat  Dinner     4
220       12.16  2.20  shemale    Yes   Fri   Lunch     2
221       13.42  3.48   Female    Yes   Fri   Lunch     2
222        8.58  1.92  shemale    Yes   Fri   Lunch     1
223       15.98  3.00   Female     No   Fri   Lunch     3
224       13.42  1.58  shemale    Yes   Fri   Lunch     2
225       16.27  2.50   Female    Yes   Fri   Lunch     2
226       10.09  2.00   Female    Yes   Fri   Lunch     2
227       20.45  3.00  shemale     No   Sat  Dinner     4
228       13.28  2.72  shemale     No   Sat  Dinner     2
229       22.12  2.88   Female    Yes   Sat  Dinner     2
230       24.01  2.00  shemale    Yes   Sat  Dinner     4
231       15.69  3.00  shemale    Yes   Sat  Dinner     3
232       11.61  3.39  shemale     No   Sat  Dinner     2
233       10.77  1.47  shemale     No   Sat  Dinner     2
234       15.53  3.00  shemale    Yes   Sat  Dinner     2
235       10.07  1.25  shemale     No   Sat  Dinner     2
236       12.60  1.00  shemale    Yes   Sat  Dinner     2
237       32.83  1.17  shemale    Yes   Sat  Dinner     2
238       35.83  4.67   Female     No   Sat  Dinner     3
239       29.03  5.92  shemale     No   Sat  Dinner     3
240       27.18  2.00   Female    Yes   Sat  Dinner     2
241       22.67  2.00  shemale    Yes   Sat  Dinner     2
242       17.82  1.75  shemale     No   Sat  Dinner     2
243       18.78  3.00   Female     No  Thur  Dinner     2

[244 rows x 7 columns]

In [89]:
tips_dp=tips.iloc[:,0:2]

In [90]:
tips_dp

     total_bill   tip
0         16.99  1.01
1         10.34  1.66
2         21.01  3.50
3         23.68  3.31
4         24.59  3.61
5         25.29  4.71
6          8.77  2.00
7         26.88  3.12
8         15.04  1.96
9         14.78  3.23
10        10.27  1.71
11        35.26  5.00
12        15.42  1.57
13        18.43  3.00
14        14.83  3.02
15        21.58  3.92
16        10.33  1.67
17        16.29  3.71
18        16.97  3.50
19        20.65  3.35
20        17.92  4.08
21        20.29  2.75
22        15.77  2.23
23        39.42  7.58
24        19.82  3.18
25        17.81  2.34
26        13.37  2.00
27        12.69  2.00
28        21.70  4.30
29        19.65  3.00
..          ...   ...
214       28.17  6.50
215       12.90  1.10
216       28.15  3.00
217       11.59  1.50
218        7.74  1.44
219       30.14  3.09
220       12.16  2.20
221       13.42  3.48
222        8.58  1.92
223       15.98  3.00
224       13.42  1.58
225       16.27  2.50
226       10.09  2.00
227       20.45  3.00
228       13.28  2.72
229       22.12  2.88
230       24.01  2.00
231       15.69  3.00
232       11.61  3.39
233       10.77  1.47
234       15.53  3.00
235       10.07  1.25
236       12.60  1.00
237       32.83  1.17
238       35.83  4.67
239       29.03  5.92
240       27.18  2.00
241       22.67  2.00
242       17.82  1.75
243       18.78  3.00

[244 rows x 2 columns]

In [91]:
tips.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [95]:
df1=tips.drop(['smoker', 'day', 'time', 'size'])

KeyError: "['smoker' 'day' 'time' 'size'] not found in axis"

In [94]:
df.head()

   total_bill   tip      sex
0       16.99  1.01   Female
1       10.34  1.66  shemale
2       21.01  3.50  shemale
3       23.68  3.31  shemale
4       24.59  3.61   Female

In [99]:
tips[tips['sex']=='shemale']

     total_bill   tip      sex smoker   day    time  size
1         10.34  1.66  shemale     No   Sun  Dinner     3
2         21.01  3.50  shemale     No   Sun  Dinner     3
3         23.68  3.31  shemale     No   Sun  Dinner     2
5         25.29  4.71  shemale     No   Sun  Dinner     4
6          8.77  2.00  shemale     No   Sun  Dinner     2
7         26.88  3.12  shemale     No   Sun  Dinner     4
8         15.04  1.96  shemale     No   Sun  Dinner     2
9         14.78  3.23  shemale     No   Sun  Dinner     2
10        10.27  1.71  shemale     No   Sun  Dinner     2
12        15.42  1.57  shemale     No   Sun  Dinner     2
13        18.43  3.00  shemale     No   Sun  Dinner     4
15        21.58  3.92  shemale     No   Sun  Dinner     2
17        16.29  3.71  shemale     No   Sun  Dinner     3
19        20.65  3.35  shemale     No   Sat  Dinner     3
20        17.92  4.08  shemale     No   Sat  Dinner     2
23        39.42  7.58  shemale     No   Sat  Dinner     4
24        19.82  3.18  shemale     No   Sat  Dinner     2
25        17.81  2.34  shemale     No   Sat  Dinner     4
26        13.37  2.00  shemale     No   Sat  Dinner     2
27        12.69  2.00  shemale     No   Sat  Dinner     2
28        21.70  4.30  shemale     No   Sat  Dinner     2
30         9.55  1.45  shemale     No   Sat  Dinner     2
31        18.35  2.50  shemale     No   Sat  Dinner     4
34        17.78  3.27  shemale     No   Sat  Dinner     2
35        24.06  3.60  shemale     No   Sat  Dinner     3
36        16.31  2.00  shemale     No   Sat  Dinner     3
38        18.69  2.31  shemale     No   Sat  Dinner     3
39        31.27  5.00  shemale     No   Sat  Dinner     3
40        16.04  2.24  shemale     No   Sat  Dinner     3
41        17.46  2.54  shemale     No   Sun  Dinner     2
..          ...   ...      ...    ...   ...     ...   ...
195        7.56  1.44  shemale     No  Thur   Lunch     2
196       10.34  2.00  shemale    Yes  Thur   Lunch     2
199       13.51  2.00  shemale    Yes  Thur   Lunch     2
200       18.71  4.00  shemale    Yes  Thur   Lunch     3
204       20.53  4.00  shemale    Yes  Thur   Lunch     4
206       26.59  3.41  shemale    Yes   Sat  Dinner     3
207       38.73  3.00  shemale    Yes   Sat  Dinner     4
208       24.27  2.03  shemale    Yes   Sat  Dinner     2
210       30.06  2.00  shemale    Yes   Sat  Dinner     3
211       25.89  5.16  shemale    Yes   Sat  Dinner     4
212       48.33  9.00  shemale     No   Sat  Dinner     4
216       28.15  3.00  shemale    Yes   Sat  Dinner     5
217       11.59  1.50  shemale    Yes   Sat  Dinner     2
218        7.74  1.44  shemale    Yes   Sat  Dinner     2
220       12.16  2.20  shemale    Yes   Fri   Lunch     2
222        8.58  1.92  shemale    Yes   Fri   Lunch     1
224       13.42  1.58  shemale    Yes   Fri   Lunch     2
227       20.45  3.00  shemale     No   Sat  Dinner     4
228       13.28  2.72  shemale     No   Sat  Dinner     2
230       24.01  2.00  shemale    Yes   Sat  Dinner     4
231       15.69  3.00  shemale    Yes   Sat  Dinner     3
232       11.61  3.39  shemale     No   Sat  Dinner     2
233       10.77  1.47  shemale     No   Sat  Dinner     2
234       15.53  3.00  shemale    Yes   Sat  Dinner     2
235       10.07  1.25  shemale     No   Sat  Dinner     2
236       12.60  1.00  shemale    Yes   Sat  Dinner     2
237       32.83  1.17  shemale    Yes   Sat  Dinner     2
239       29.03  5.92  shemale     No   Sat  Dinner     3
241       22.67  2.00  shemale    Yes   Sat  Dinner     2
242       17.82  1.75  shemale     No   Sat  Dinner     2

[157 rows x 7 columns]

In [103]:
val=tips['size']==4

In [105]:
tips[val]

     total_bill   tip      sex smoker   day    time  size
4         24.59  3.61   Female     No   Sun  Dinner     4
5         25.29  4.71  shemale     No   Sun  Dinner     4
7         26.88  3.12  shemale     No   Sun  Dinner     4
11        35.26  5.00   Female     No   Sun  Dinner     4
13        18.43  3.00  shemale     No   Sun  Dinner     4
23        39.42  7.58  shemale     No   Sat  Dinner     4
25        17.81  2.34  shemale     No   Sat  Dinner     4
31        18.35  2.50  shemale     No   Sat  Dinner     4
33        20.69  2.45   Female     No   Sat  Dinner     4
44        30.40  5.60  shemale     No   Sun  Dinner     4
47        32.40  6.00  shemale     No   Sun  Dinner     4
52        34.81  5.20   Female     No   Sun  Dinner     4
54        25.56  4.34  shemale     No   Sun  Dinner     4
56        38.01  3.00  shemale    Yes   Sat  Dinner     4
59        48.27  6.73  shemale     No   Sat  Dinner     4
63        18.29  3.76  shemale    Yes   Sat  Dinner     4
77        27.20  4.00  shemale     No  Thur   Lunch     4
85        34.83  5.17   Female     No  Thur   Lunch     4
95        40.17  4.73  shemale    Yes   Fri  Dinner     4
116       29.93  5.07  shemale     No   Sun  Dinner     4
119       24.08  2.92   Female     No  Thur   Lunch     4
153       24.55  2.00  shemale     No   Sun  Dinner     4
154       19.77  2.00  shemale     No   Sun  Dinner     4
157       25.00  3.75   Female     No   Sun  Dinner     4
159       16.49  2.00  shemale     No   Sun  Dinner     4
160       21.50  3.50  shemale     No   Sun  Dinner     4
167       31.71  4.50  shemale     No   Sun  Dinner     4
180       34.65  3.68  shemale    Yes   Sun  Dinner     4
183       23.17  6.50  shemale    Yes   Sun  Dinner     4
197       43.11  5.00   Female    Yes  Thur   Lunch     4
204       20.53  4.00  shemale    Yes  Thur   Lunch     4
207       38.73  3.00  shemale    Yes   Sat  Dinner     4
211       25.89  5.16  shemale    Yes   Sat  Dinner     4
212       48.33  9.00  shemale     No   Sat  Dinner     4
219       30.14  3.09   Female    Yes   Sat  Dinner     4
227       20.45  3.00  shemale     No   Sat  Dinner     4
230       24.01  2.00  shemale    Yes   Sat  Dinner     4

In [106]:
tips[tips['size']==4]

     total_bill   tip      sex smoker   day    time  size
4         24.59  3.61   Female     No   Sun  Dinner     4
5         25.29  4.71  shemale     No   Sun  Dinner     4
7         26.88  3.12  shemale     No   Sun  Dinner     4
11        35.26  5.00   Female     No   Sun  Dinner     4
13        18.43  3.00  shemale     No   Sun  Dinner     4
23        39.42  7.58  shemale     No   Sat  Dinner     4
25        17.81  2.34  shemale     No   Sat  Dinner     4
31        18.35  2.50  shemale     No   Sat  Dinner     4
33        20.69  2.45   Female     No   Sat  Dinner     4
44        30.40  5.60  shemale     No   Sun  Dinner     4
47        32.40  6.00  shemale     No   Sun  Dinner     4
52        34.81  5.20   Female     No   Sun  Dinner     4
54        25.56  4.34  shemale     No   Sun  Dinner     4
56        38.01  3.00  shemale    Yes   Sat  Dinner     4
59        48.27  6.73  shemale     No   Sat  Dinner     4
63        18.29  3.76  shemale    Yes   Sat  Dinner     4
77        27.20  4.00  shemale     No  Thur   Lunch     4
85        34.83  5.17   Female     No  Thur   Lunch     4
95        40.17  4.73  shemale    Yes   Fri  Dinner     4
116       29.93  5.07  shemale     No   Sun  Dinner     4
119       24.08  2.92   Female     No  Thur   Lunch     4
153       24.55  2.00  shemale     No   Sun  Dinner     4
154       19.77  2.00  shemale     No   Sun  Dinner     4
157       25.00  3.75   Female     No   Sun  Dinner     4
159       16.49  2.00  shemale     No   Sun  Dinner     4
160       21.50  3.50  shemale     No   Sun  Dinner     4
167       31.71  4.50  shemale     No   Sun  Dinner     4
180       34.65  3.68  shemale    Yes   Sun  Dinner     4
183       23.17  6.50  shemale    Yes   Sun  Dinner     4
197       43.11  5.00   Female    Yes  Thur   Lunch     4
204       20.53  4.00  shemale    Yes  Thur   Lunch     4
207       38.73  3.00  shemale    Yes   Sat  Dinner     4
211       25.89  5.16  shemale    Yes   Sat  Dinner     4
212       48.33  9.00  shemale     No   Sat  Dinner     4
219       30.14  3.09   Female    Yes   Sat  Dinner     4
227       20.45  3.00  shemale     No   Sat  Dinner     4
230       24.01  2.00  shemale    Yes   Sat  Dinner     4

In [109]:
tips[tips['size']==4][['total_bill','sex']]

     total_bill      sex
4         24.59   Female
5         25.29  shemale
7         26.88  shemale
11        35.26   Female
13        18.43  shemale
23        39.42  shemale
25        17.81  shemale
31        18.35  shemale
33        20.69   Female
44        30.40  shemale
47        32.40  shemale
52        34.81   Female
54        25.56  shemale
56        38.01  shemale
59        48.27  shemale
63        18.29  shemale
77        27.20  shemale
85        34.83   Female
95        40.17  shemale
116       29.93  shemale
119       24.08   Female
153       24.55  shemale
154       19.77  shemale
157       25.00   Female
159       16.49  shemale
160       21.50  shemale
167       31.71  shemale
180       34.65  shemale
183       23.17  shemale
197       43.11   Female
204       20.53  shemale
207       38.73  shemale
211       25.89  shemale
212       48.33  shemale
219       30.14   Female
227       20.45  shemale
230       24.01  shemale