In [1]:
import numpy as np

In [8]:
np.random.seed(42)
np.random.randn(10)

array([ 1.62434536, -0.61175641, -0.52817175, -1.07296862,  0.86540763,
       -2.3015387 ,  1.74481176, -0.7612069 ,  0.3190391 , -0.24937038])

In [9]:
import pandas as pd

In [11]:
pwd

'C:\\Users\\HP P DTS'

In [12]:
cd Desktop/

C:\Users\HP P DTS\Desktop

In [22]:
excel=pd.read_excel('Students.xlsx',skiprows=1)

In [23]:
excel

    ID  Age  Height Weight
0    1   45    5.00     77
1    2   26    5.11     47
2    3   30    5.60     55
3    4   34    5.90     59
4    5   40    4.80     72
5    6   36    5.80     60
6    7   19    5.30     40
7    8   28    5.80     60
8    9   23    5.50     45
9   10   32    5.60     58
10  11   38    5.50      ?

In [24]:
excel2=pd.read_excel('Students.xlsx',sheet_name='Account')

In [27]:
pr_qt=excel2[['Price','Quantity']]

In [28]:
pr_qt

     Price  Quantity
0    30000         1
1    10000         1
2     5000         2
3    35000         1
4    65000         2
5    40000         2
6    10000         1
7     5000         2
8    35000         1
9    65000         2
10   30000         1
11    5000         1
12   10000         1
13    7000         3
14  100000         5
15   65000         2
16    5000         2

In [29]:
pr_qt.to_excel('pr_qt.xlsx')

In [30]:
pr_qt.to_excel('pr_qt1.xlsx',index=False)

In [31]:
pwd

'C:\\Users\\HP P DTS\\Desktop'

In [32]:
cd "Python Classes"

C:\Users\HP P DTS\Desktop\Python Classes

In [33]:
pwd

'C:\\Users\\HP P DTS\\Desktop\\Python Classes'

In [34]:
pr_qt.to_excel('pr_qt100.xlsx')

In [35]:
ls

 Volume in drive C has no label.
 Volume Serial Number is 12AD-B436

 Directory of C:\Users\HP P DTS\Desktop\Python Classes

03-02-2020  12:44    <DIR>          .
03-02-2020  12:44    <DIR>          ..
26-12-2019  13:16    <DIR>          .ipynb_checkpoints
13-11-2019  07:16             1,493 add multiple list on based of index.txt
04-12-2019  19:32            14,723 Basic Python - Test for Anurag.docx
08-09-2019  14:38            13,807 Basic Python - Test Paper.docx
22-11-2019  22:17            17,207 Basic Python Test Paper - If - else.docx
02-02-2020  07:59    <DIR>          DataSet
07-01-2020  14:09            16,808 DateTime Format.docx
30-12-2019  14:07               170 employee.csv
12-12-2019  12:29            20,614 L1 -Python Test.docx
15-11-2019  21:22            13,945 Logistic Regression Portfolio Project.docx
26-11-2019  22:31            15,564 Natural Language Processing - Steps.docx
06-09-2019  23:00            13,321 Numpy Exercise -Test.docx
03-02-2020  12:44             5,675 pr_qt100.xlsx
04-12-2019  19:47            14,898 Python Basic - List String and Tuple.docx
08-09-2019  15:40            17,071 Python Test Paper - Basic.docx
08-09-2019  15:44            21,616 Python Test Paper - List_Dictionary_Tuple.docx
01-09-2019  21:42            14,032 Python Test Paper - Numpy.docx
01-09-2019  22:47            15,915 Python Test Paper - Pandas.docx
17-11-2019  09:57            15,971 Random Forest Portfolio Project - loan dataset.docx
26-11-2019  21:15            17,858 The Hypotheses - BigMart Sales.docx
29-01-2020  12:12    <DIR>          Weekdays
13-01-2020  21:14    <DIR>          Weekend
              18 File(s)        250,688 bytes
               6 Dir(s)  203,057,913,856 bytes free