# Project based on Inventory controll using Python and Oracle
### Item
    ## ADD
    ## Update
    ## Delete
### Customer
    ## ADD 
    ## Update
    ## Delete
### Invoice
    ## Create Invoice
# Report
### Invoice Report
### Item Report

In [1]:
import cx_Oracle as cx

In [2]:
class QueryString:
    __InsertItem='''
    insert into Item_Master (item_id,item_name,item_desc,pur_price,qty) 
    values(:itemid,:itemname,:itemdesc,:purprice,:qty)
    '''
    __UpdateItem='''
    Update Item_Master
    Set ITEM_NAME=:itemname,
     ITEM_DESC=:itemdesc,
     PUR_PRICE=:purprice,
      QTY=:qty
      where ITEM_ID=:id
    '''
    __DeleteItem='''
    Delete From Item_Master
    where ITEM_ID=:id
    '''
    __InsertCutomer='''
    insert into Cust_Master 
    values(:custid,:custname,:custaddress,:custcity)
    '''
    __UpdateCustomer='''
    update Cust_Master
    set Cust_Name=:custname,
    Cust_Address=:custaddress,
    City=:city
    where Cust_ID=:id
    '''
    __DeleteCustomer='''
    Delete from Cust_Master
    where CustID=:id
    '''
    __InvoiceCreate='''
    Insert into Invoice values(:invid,:itemid,:custid,:qty)
    '''

In [3]:
q=QueryString()
print(q._QueryString__InsertItem)

    insert into Item_Master (item_id,item_name,item_desc,pur_price,qty)
    values(:itemid,:itemname,:itemdesc,:purprice,:qty)

In [4]:
# connections
def Oracle_Connections():
    try:
        cn=cx.connect('scott/tiger@localhost:1521/orcl')
        cur=cn.cursor()
    except:
        print('connection error')
    return cn,cur

In [5]:
def FactoryInsertUpdateDelete(querystring,valuepara):
    try:
        conn,curs=Oracle_Connections()
        curs.execute(querystring,valuepara)
        conn.commit()
    except:
        print('Problem in insertions')
    finally:
        curs=None
        conn=none

In [6]:
'''
def FactoryInsertUpdateDelete(querystring,valuepara):
    cnn,curs=Oracle_Connections()
    print(valuepara)
    print(querystring)
    curs.execute(querystring,valuepara)
    cnn.commit()
Q=QueryString()

FactoryInsertUpdateDelete(Q._QueryString__InsertItem,L)
'''

{'itemid': 5, 'itemname': 'Key board', 'itemdesc': 'Logitech Key board', 'purprice': 300.99, 'qty': 20}

    insert into Item_Master (item_id,item_name,item_desc,pur_price,qty)
    values(:itemid,:itemname,:itemdesc,:purprice,:qty)

In [7]:
# Menu
def MainMenu():
    print('1. Item')
    print('2. Customer')
    print('3. Invoice')
    print('4. Report')
    ans=int(input('Enter Your choice'))
    return ans

In [8]:
# Item Submenu
def SubMenuItem():
    print('1. Add Item')
    print('2. Update Item')
    print('3. Delete Item')
    ansitem=int(input('Etner your choice'))
    return ansitem

In [9]:
# Customer Submenu
def SubMenuCustomer():
    print('1. Add Item')
    print('2. Update Item')
    print('3. Delete Item')
    anscust=int(input('Etner your choice'))
    return anscust

In [10]:
# Report Sub menu
def ReportSubMenu():
    print('1.Invoice Report')
    print('2. Item Report')
    ansrep=int(input('Enter report type'))
    return ansrep

In [11]:
def ReportSubMenu1():
    print('1. Daily Report')
    print('2. Monthly Report')
    print('3. Yearly Report')
    ansrep1=int(input('Enter your choice'))
    return ansrep1

In [12]:
def ReportSubMenu2():
    print('1. Daily Report')
    print('2. Monthly Report')
    print('3. Yearly Report')
    ansrep2=int(input('Enter your choice'))
    return ansrep2

In [13]:

def Add_Item():
    item_name=input('Enter Item Name')
    item_desc=input('Enter item description')
    pur_prices=float(input('Enter the Purchase Price'))
    qty=int(input('Enter quantity'))

In [14]:
# Model
class Item:
    def __init__(self):
        self.id=0
        self.itemname=None
        self.itemdesc=None
        self.pur_price=0.0
        self.qty=0
    @property
    def ID(self):
        return self.id
    @ID.setter
    def ID(self,_id):
        self.id=_id
        
    @property
    def Iname(self):
        return self.itemname
    @Iname.setter
    def Iname(self,_in):
        if(len(_in)>2):
            self.itemname=_in
        else:
            return None
    @property
    def Desc(self):
        return self.itemdesc
    @Desc.setter
    def Desc(self,_ds):
        self.itemdesc=_ds
    @property
    def Price(self):
        return self.pur_price
    @Price.setter
    def Price(self,pr):
        self.pur_price=pr
    @property
    def Quantity(self):
        return self.qty
    @Quantity.setter
    def Quantity(self,qt):
        self.qty=qt

In [17]:
def Item_insert():
    I=Item()
    Q=QueryString()
    I.ID=int(input('Enter the item id'))
    I.Iname=input('Etner Item Name')
    I.Desc=input('Enter the Item Descriptions')
    I.Price=float(input('Etner Item Price'))
    I.Quantity=int(input('Enter Item Quantity'))
    #L=[I.Iname,I.Desc,I.Price,I.Quantity]
    L={'itemid':I.ID,'itemname':I.Iname,'itemdesc':I.Desc,'purprice':I.Price,'qty':I.Quantity}
    FactoryInsertUpdateDelete(Q._QueryString__InsertItem,L)

In [18]:
Item_insert()

Enter the item id7
Etner Item NamePrinter
Enter the Item DescriptionsHP Lasor Printer
Etner Item Price2000.99
Enter Item Quantity2
{'itemid': 7, 'itemname': 'Printer', 'itemdesc': 'HP Lasor Printer', 'purprice': 2000.99, 'qty': 2}

    insert into Item_Master (item_id,item_name,item_desc,pur_price,qty)
    values(:itemid,:itemname,:itemdesc,:purprice,:qty)

In [1]:
import numpy as np

In [2]:
val=13+3J
np.abs(val)

13.341664064126334

In [3]:
val1=-1000
np.abs(val1)

1000

In [4]:
val=1/0

ZeroDivisionError: division by zero

In [5]:
val='Faheem'/0

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [18]:
l=[10,20,30,10,20,30,35,10,20,10,30,10,10]

In [19]:
import pandas as pd
df=pd.DataFrame(l,columns=['col2'])

In [20]:
df

    col2
0     10
1     20
2     30
3     10
4     20
5     30
6     35
7     10
8     20
9     10
10    30
11    10
12    10

In [11]:
df

     0
0
10  10
20  20
30  30
10  10
20  20
30  30
35  35

In [22]:
df['col2'].value_counts()

10    6
30    3
20    3
35    1
Name: col2, dtype: int64